.hero {
      height: 100vh;
      background: linear-gradient(to right, #2d642d, #7fd582);
      color: white;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column;
}
body {
  font-family: 'Poppins', sans-serif;
}
section {
  padding: 80px 0;
}
.hero-icons {
  margin-top: 20px;
}

.circle-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 10px;
  color: white;
  font-size: 22px;
  transition: 0.3s;
}

.circle-icon:hover {
  background: white;
  color: #308130;
  transform: translateY(-5px);
}
